<mat-card class="d-flex flex-column" *ngIf="fiveDaysForecast">
  <div class="d-flex justify-content-between">
    <div>Tel Aviv</div>
    <div>
      <button (click)="addToFavorites()">Add To Favorites</button>
    </div>
  </div>
  <div class="d-flex justify-content-center mt-5 bold-center-text mb-5">
    {{ fiveDaysForecast?.Headline?.Text }}
  </div>
  <div class="d-flex flex-wrap">
    <one-day-forecast
      *ngFor="let dailyForecasts of fiveDaysForecast.DailyForecasts"
      [dailyForecasts]="dailyForecasts"
      class="m-2"
    ></one-day-forecast>
  </div>
</mat-card>
